[Unit]
Description=CAI SestoSG bot service
After=multi-user.target
#Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/CAISestoSG.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
